# IPアドレスやポートを変更する場合は、.envというファイル名にリネームして、コメントを解除して下さい
# 
# 通常利用するPROXY（フォワードプロキシ）のポート
# APACHE_PROXY_PORT=13128
#
# 以下は Apache Webサーバー兼フォワードプロキシのポート
# APACHE_IP=127.0.0.1
# APACHE_WEB_PORT=88
# 
# 一般的なループバックアドレス
# WEB_IP=127.0.0.1
# 127.0.0.1 を使用済みの場合の代替ループバックアドレスの例
# WEB_IP=127.10.90.1
# プライベートIPアドレスの例
# WEB_IP=192.168.0.5
